@import "tailwindcss";
@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  max-width: 1180px;

  @media (max-width: 1180px) {
    max-width: 1000px;
  }
  @media (max-width: 768px) {
    max-width: 600px;
  }
  @media (max-width: 540px) {
    max-width: 440px;
  }
}
